---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import CallToAction from '@components/CallToAction.astro'
---

<DefaultLayout title="About Me">
  <PageHeader
    title="The Dripp Behind DrippDrop"
    subtitle="👋 Hi, I’m Renée, the bridge between marketing and Customer Insights."
    bgType="bordered"
  />

    <section class="narrow container my-16">
    <div class="space-content">
        <p>Most consultants know the system. Marketers know the campaign. I know both, and that's where the 
          magic happens.
        </p>
        <p>Whether I'm co-creating a segment, designing a smarter customer journey, or sparring
          with your team on email marketing automation, I connect the dots so Customer Insights actually flows into action.
        </p>
        <p>I’ve worked on both sides of the table: deep in Customer Insights tooling and right in the middle 
          of marketing strategy. That mix means I don’t just talk data or campaigns, I make them work together. 
          Oh, and yes, I’ve done the formal stuff too: studies in marketing, years of experience in CRM & automation,
           but what matters is: I help you see what’s possible.</p>

     
    </div>
  </section>

  <CallToAction/>
</DefaultLayout>

