---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import CallToAction from '@components/CallToAction.astro'
---

<DefaultLayout title="Contact">
  <PageHeader
    title="Want to make your Customer Insights drip?"
    subtitle="Got a question, an idea, or just curious about what I can do in Customer Insights?"
    bgType="bordered"
  />
  <section class="narrow container my-16">
    <div class="space-content">
      <p>
        Just send me an email at <a href="mailto:renee@vanderwalt.eu">renee@vanderwalt.eu</a> or send me a message via 
        <a href="https://www.linkedin.com/in/renee-van-der-walt-89697024/" target="_blank">LinkedIn</a>. I’m always up for sharing ideas about Customer Insights and Marketing. 
        No strings attached.
      </p>

     
    </div>
  </section>
  <CallToAction title="In need of more drops?" linkText="Read all drops" link="/blog"></CallToAction>
</DefaultLayout>

