---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import CallToAction from '@components/CallToAction.astro'
import Feature from '@components/Feature.astro'
---

<DefaultLayout title="How I Help">
    <PageHeader
    title="From Drips to Drops"
    subtitle="I help you make Customer Insights work, with extra hands, brainpower, and creativity. Here are some things I helped other marketers with."
    bgType="bordered"
  />

       <section class="my-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="tabler:brush" title="Branded Templates">
          I build responsive email and form templates (HTML, CSS, JS) that perfectly match your brand identity.
        </Feature>
        <Feature icon="tabler:target-arrow" title="Smart Segmentation">
          I design segments with both inclusion and exclusion rules, ensuring your campaigns hit the right audience, not the wrong one.
        </Feature>
        <Feature icon="tabler:bolt" title="Personalized Journeys">
          From simple flows to complex multi-branch journeys — I create experiences that adapt to every customer’s behavior.
        </Feature>
        <Feature icon="tabler:database" title="CDP">
          I bring in data from multiple sources, to create actionable measures and segments in Customer Insights - Data.
        </Feature>
        <Feature icon="tabler:sparkles" title="Hyper-Personalized Emails">
          Dynamic content makes each recipient feel like the email was written just for them, without creating 10 separate versions.
        </Feature>
        <Feature icon="tabler:brain" title="Campaign Sparring">
          As a sparring partner, I challenge your campaign ideas and help sharpen segments so your goals become achievable.
        </Feature>
        <Feature icon="tabler:rocket" title="Journey Optimization">
          I analyze journeys and find friction points, helping you increase conversion and engagement step by step.
        </Feature>
        <Feature icon="tabler:flask" title="Smarter A/B Testing">
          I help you set up, interpret, and apply A/B test results to make every next journey more effective.
        </Feature>
        <Feature icon="tabler:link" title="Trigger-Based Marketing">
          With Power Automate and Dynamics, I design triggers that start, stop, or split journeys, making timing your superpower.
        </Feature>
        <Feature icon="tabler:building" title="Both B2B and B2C">
         I help both eCommerce brands and B2B offices to up their Customer Insights game.
        </Feature>
        
      </div>
    </div>
  </section>
  <CallToAction />
</DefaultLayout>

