---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="DrippDrop Blog by Renée van der Walt">
  <section class="my-12">
    <div class="container">
      <h1>I'm Moving</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="text-2xl">I am moving my Marketing Lab blog to my new website. Stay tuned!</p>
    </div>
  </section>
</DefaultLayout>
